HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Keys ###
src/main/java/de/stella/agora_web/auth/keys/access-token-private.key
src/main/java/de/stella/agora_web/auth/keys/access-token-public.key
src/main/java/de/stella/agora_web/auth/keys/refresh-token-private.key
src/main/java/de/stella/agora_web/auth/keys/refresh-token-public.key

### Environment Variables ###
.env
.env.local
.env.production
.env.staging

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignorar la carpeta original
src/main/java/de/stella/agora_web/nlp_moderation/model/OpenJDK-21/
nlp_moderation
src/main/resources/stanford-corenlp-4.5.7
src/main/resources/stanford-corenlp-4.5.7.zip
scr/main/resources/aplicacion.properties
src/main/resources/client_secret.json
src/main/resources/credentials.json